  [user]
      name = Bryam Noguera
      email = bryamnoguera@yahoo.com
      username = csebryam
  [filter "media"]
      clean = git-media-clean %f
      smudge = git-media-smudge %f
  [push]
      default = matching
  [alias]
      co = checkout
      st = status -a
      lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative
      wslog = log --ignore-space-at-eol -p -w -b
      wsdiff = diff --ignore-space-at-eol -w -b --no-ext-diff
      appraise = !~/go/bin/git-appraise
  [core]
      excludesfile = ~/.global_ignore
      editor = vim
[pull]
      rebase = false
